<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}
</head>
<body>
    <div id="commonTopHeader">
{% include './menu/comTopHeader.html' %}      
    </div>

    <div id="commonBodyContents">
{% include './menu/sidemenu1.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
            <hr>
             <div>
                 <div class="chartContents">
                     <div>
                        <div>CPU : {{result_cpu}}, Memory : {{result_mem }}</div>
                        <canvas id="cpuChart" width="500" height="100"></canvas>
                    </div>
                    <div>
                        <div>Disk : {{result_disk}}</div>
                        <canvas id="diskChart" width="500" height="100"></canvas>
                    </div>
                </div>
             </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        cpuChartSet();
        diskChartSet();
    });

    function cpuChartSet(){
        let cpuChart = document.getElementById("cpuChart").getContext('2d');
        // let cpuNum = {{result_cpu|tojson}};
        let memoryNum = {{result_mem|tojson}};

        new Chart(cpuChart, {
            type: "doughnut",
            data: {
                labels: ["CPU", "MEMORY"],
                datasets: [
                    {
                        data: [100 - memoryNum, memoryNum],
                        backgroundColor: [
                            "#95c1e6",
                            "#ff5377"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }

    function diskChartSet(){
        let diskChart = document.getElementById("diskChart").getContext('2d');
        let disk = {{result_disk|tojson}};

        new Chart(diskChart, {
            type: "doughnut",
            data: {
                labels: ["disk"],
                datasets: [
                    {
                        data: [disk[3], 100 - disk[3]],
                        backgroundColor: [
                            "#ff5377",
                            "#95c1e6"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }
</script>
</html>
