<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '/menu/header.html' %}
    <style>
      .container {
        padding-right: 0;
        overflow: auto;
      }

      .chartContents {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 20px;
      }

      .chartContents > div {
        border: 1px solid #bdbdbd;
        padding: 10px;
        box-shadow: 1px solid #bdbdbd;
        box-shadow: 3px 3px 3px 3px #bdbdbd;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div id="commonTopHeader">{% include './menu/comTopHeader.html' %}</div>

    <div id="commonBodyContents">
      {% include './menu/sidemenu1.html' %}
      <!-- commonSideMenu end-->

      <div id="commonContent">
        <div class="container">
          <hr />
          <div>
            <div class="chartContents">
              <div>
                <div>CPU(%)</div>
                <canvas id="cpuChart" width="375" height="400"></canvas>
              </div>
              <div>
                <div>DISK(%)</div>
                <canvas id="diskChart" width="375" height="400"></canvas>
              </div>
              <div>
                <div>MEMORY(%)</div>
                <canvas id="memoryChart" width="375" height="400"></canvas>
              </div>
              <div>
                <div>TRAFFIC(5M)</div>
                <canvas id="trafficChart" width="375" height="400"></canvas>
              </div>
              <!-- <div>
                        <canvas id="areaChart" width="375" height="420"></canvas>
                    </div> -->
              <div>
                <div>일별(건)</div>
                <canvas id="monthChart" width="792" height="400"></canvas>
              </div>
              <div>
                <div>시간별(건)</div>
                <canvas id="hourChart" width="792" height="400"></canvas>
              </div>
            </div>
            <!--<div class="chartContents2">
                    <div>
                        <div>CPU</div> 
                        <canvas id="cpuChart" width="400"></canvas>
                    </div>
                    <div>
                        <div>MEMORY</div>
                        <canvas id="memoryChart" width="400"></canvas>
                    </div>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
        trafficChartSet();
        diskChartSet();
        cpuChartSet();
        memoryChartSet();
        monthChartSet();
        hourChartSet();
        //areaChartSet();
    });

    function trafficChartSet(){
        let trafficChart = document.getElementById("trafficChart").getContext('2d');
        let result_service = {{result_service|tojson}};

        let dateArr = [];
        let dataArr = [];
        let KR_TIME_DIFF = 9 * 60 * 60 * 1000;
        let valueBuf = 0

        let next_item = ""
        let setNextDate = ""

        let result_service_length = result_service["rows"].length

        for(let i = 0; i < result_service_length ; i++){
            let item = result_service["rows"][i];
            let setDate = new Date(item[1]).getTime();
            setDate += KR_TIME_DIFF;
            setDate = new Date(setDate).toISOString();
            dateNowSub = setDate.substring(14, 16)%5



            if(i < result_service_length-1){
                next_item =  result_service["rows"][i+1];
                setNextDate = new Date(next_item[1])?.getTime();
                setNextDate += KR_TIME_DIFF;
                setNextDate = new Date(setNextDate)?.toISOString();
                dateNextSub = setNextDate?.substring(14, 16)%5
            }   

            let date = setDate?.substring(11, 16);
            let value = item[0];

            if((dateNowSub === 0) && (dateNowSub !== dateNextSub) ){
                dateArr.push(date);
                dataArr.push(valueBuf);
                valueBuf = 0;
            } else {
                valueBuf += value
            } 
        }

        new Chart(trafficChart, {
            type: "line",
            data: {
                labels: dateArr.reverse(),
                datasets: [
                    {
                        label: "TRAFFIC",
                        data: dataArr.reverse(),
                        backgroundColor: "#ff5377",
                        borderColor: "#ff5377",
                        borderWidth: 2,
                        borderCapStyle: 'round',
                        fill: false,
                    },
                ],
                options: {
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                },
            },
        });
    }

    /*function trafficChartSet(){
        let trafficChart = document.getElementById("trafficChart").getContext('2d');
        let resultArr = {{result_service|tojson}};
        console.log(resultArr);
        let dateArr = [];
        let dataArr = [];

        for(let i = 0; i < resultArr["rows"].length; i++){
            let item = resultArr["rows"][i];
            let date = item[0].substring(5, 10);
            let value = item[1];

            dateArr.push(date);
            dataArr.push(value);
        }

        new Chart(trafficChart, {
            type: "line",
            data: {
                labels: labelArr,
                datasets: [
                    {
                        data: dataArr,
                        backgroundColor: [
                            "#FFA7A7",
                            "#FFE08C",
                            "#CEF279",
                            "#B2EBF4",
                            "#B5B2FF",
                            "#FFB2F5",
                            "#D5D5D5",
                            "#FFC19E",
                            "#FAED7D",
                            "#B7F0B1",
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }*/

    function diskChartSet(){
        let diskChart = document.getElementById("diskChart").getContext('2d');
        let disk = {{result_disk|tojson}};
        disk[1] = disk[1] / disk[0] * 100;
        disk[2] = disk[2] / disk[0] * 100;

        new Chart(diskChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [(disk[1]).toFixed(2), (disk[2]).toFixed(2)],
                        backgroundColor: [
                            "#ff5377",
                            "#95c1e6"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }

    /* function areaChartSet(){
        let areaChart = document.getElementById("areaChart").getContext('2d');
        let areaArr = {{area|tojson}};
        let labelArr = [];
        let dataArr = [];

        for(let i = 0; i < areaArr.length; i++){
            labelArr.push(areaArr[i][0]);
            dataArr.push(areaArr[i][2]);
        }


        new Chart(areaChart, {
            type: "doughnut",
            data: {
                labels: labelArr,
                datasets: [
                    {
                        data: dataArr,
                        backgroundColor: [
                            "#FFA7A7",
                            "#FFE08C",
                            "#CEF279",
                            "#B2EBF4",
                            "#B5B2FF",
                            "#FFB2F5",
                            "#D5D5D5",
                            "#FFC19E",
                            "#FAED7D",
                            "#B7F0B1",
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    } */

    function cpuChartSet(){
        let cpuChart = document.getElementById("cpuChart").getContext('2d');
        let cpu_remain = {{cpu_remain|tojson}};
        let cpu_percent = {{cpu_percent|tojson}};

        new Chart(cpuChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [cpu_percent, cpu_remain],
                        backgroundColor: [
                            "#ff5377",
                            "#95c1e6"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }

    function memoryChartSet(){
        let memoryChart = document.getElementById("memoryChart").getContext('2d');
        let memory = {{result_mem|tojson}};
        memory[3] = memory[3] / memory[0] * 100;
        memory[4] = memory[4] / memory[0] * 100;

        new Chart(memoryChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [(memory[3]).toFixed(2), (memory[4]).toFixed(2)],
                        backgroundColor: [
                            "#ff5377",
                            "#95c1e6"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }

    function memoryChartSet(){
        let memoryChart = document.getElementById("memoryChart").getContext('2d');
        let memory = {{result_mem|tojson}};
        memory[3] = memory[3] / memory[0] * 100;
        memory[4] = memory[4] / memory[0] * 100;

        new Chart(memoryChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [(memory[3]).toFixed(2), (memory[4]).toFixed(2)],
                        backgroundColor: [
                            "#ff5377",
                            "#95c1e6"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }

    function monthChartSet(){
        let monthChart = document.getElementById("monthChart").getContext('2d');
        let month = {{result_month|tojson}};
        let dateArr = [];
        let dataArr = [];
        
        // for(let i = 0; i < month["rows"].length; i++){
        for(let i = 0; i < 10; i++){
            let item = month["rows"][i];
            let date = item[1].substring(5, 10);
            let value = item[0];
            
            dateArr.unshift(date);
            dataArr.unshift(value);
        }
        
        new Chart(monthChart, {
            type: "bar",
            data: {
                labels: dateArr,
                datasets: [
                    {
                        label: "일자별 데이터",
                        data: dataArr,
                        backgroundColor: "#86E57F",
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
        });
    }

    function hourChartSet(){
        let hourChart = document.getElementById("hourChart").getContext('2d');
        let hour = {{result_hour|tojson}};
        let dateArr = [];
        let dataArr = [];
        let KR_TIME_DIFF = 9 * 60 * 60 * 1000;

        // for(let i = 0; i < hour["rows"].length; i++){
        for(let i = 0; i < 24; i++){
            let item = hour["rows"][i];
            let setDate = new Date(item[1]).getTime();
            setDate = setDate + KR_TIME_DIFF;
            setDate = new Date(setDate).toISOString();
            let date = setDate.substring(5, 10) + " " + setDate.substring(11, 14) + "00";
            let value = item[0];

            dateArr.unshift(date);
            dataArr.unshift(value);
        }

        new Chart(hourChart, {
            type: "bar",
            data: {
                labels: dateArr,
                datasets: [
                    {
                        label: "시간별 데이터",
                        data: dataArr,
                        backgroundColor: "#6799FF",
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
        });
    }
  </script>
</html>

