<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}
<style>
    .chartContents{
        display: flex;
        align-items: center;
    }

    .chartContents > div{
        border: 1px solid #BDBDBD;
        padding: 10px;
        box-shadow: 1px solid #BDBDBD;
        box-shadow: 3px 3px 3px 3px #BDBDBD;
    }

    .chartContents > div:first-child{
        margin-right: 20px;
    }

</style>
</head>
<body>
    <div id="commonTopHeader">
{% include './menu/comTopHeader.html' %}      
    </div>

    <div id="commonBodyContents">
{% include './menu/sidemenu1.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
            <hr>
             <div>
                <div class="chartContents">
                    <div>
                        <canvas id="serviceChart" width="400"></canvas>
                    </div>
                    <div>
                        <canvas id="areaChart" width="400"></canvas>
                    </div>
                </div>
             </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        serviceChartSet();
        areaChartSet();
    });

    function serviceChartSet(){
        let serviceChart = document.getElementById("serviceChart").getContext('2d');
        let resultArr = {{result|tojson}};
        let labelArr = [];
        let dataArr = [];

        for(let i = 0; i < resultArr.length; i++){
            labelArr.push(resultArr[i][0]);
            dataArr.push(resultArr[i][2]);
        }

        new Chart(serviceChart, {
            type: "doughnut",
            data: {
                labels: labelArr,
                datasets: [
                    {
                        data: dataArr,
                        backgroundColor: [
                            "#FFA7A7",
                            "#FFE08C",
                            "#CEF279",
                            "#B2EBF4",
                            "#B5B2FF",
                            "#FFB2F5",
                            "#D5D5D5",
                            "#FFC19E",
                            "#FAED7D",
                            "#B7F0B1",
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }

    function areaChartSet(){
        let areaChart = document.getElementById("areaChart").getContext('2d');
        let areaArr = {{area|tojson}};
        let labelArr = [];
        let dataArr = [];

        for(let i = 0; i < areaArr.length; i++){
            labelArr.push(areaArr[i][0]);
            dataArr.push(areaArr[i][2]);
        }


        new Chart(areaChart, {
            type: "doughnut",
            data: {
                labels: labelArr,
                datasets: [
                    {
                        data: dataArr,
                        backgroundColor: [
                            "#FFA7A7",
                            "#FFE08C",
                            "#CEF279",
                            "#B2EBF4",
                            "#B5B2FF",
                            "#FFB2F5",
                            "#D5D5D5",
                            "#FFC19E",
                            "#FAED7D",
                            "#B7F0B1",
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            },
        });
    }
</script>
</html>
