<div class="topSearchWrap">
  <div>
      <form class="search">
          <div>
              <div class="DateFrom">시작시간: </div>
              <input type="date" id="datefrom" name="datefrom" class="setdate">
              <input type="time" id="timefrom" name="timefrom"value="11:50:00">
              <div class="DateTo">종료시간: </div>
              <input type="date" id="dateto" name="dateto"class="setdate">
              <input type="time" id="timeto" name="timeto" value="12:00:00">
          </div>
          <div>
              <img src="/static/images/magnifier.png" />
              <input type="text" id="whereplus" name="whereplus" />
              <button type="button" onclick="searchSubmit();"><img src="/static/images/right.png" /></button>
          </div>
      </form>
  </div>
</div>
<script>
  $(window).ready(function(){
      if(localStorage.getItem("setSearchText") !== undefined){
        $("#whereplus").val(localStorage.getItem("setSearchText"));
        localStorage.clear();
      }

      document.getElementById('datefrom').value= new Date().toISOString().slice(0, 10);
      document.getElementById('dateto').value= new Date().toISOString().slice(0, 10);
  });

  function searchSubmit(){
      localStorage.setItem("searchFlag", true);
      location.reload();
  }
</script>
