<div class="topSearchWrap">
    <div>
        <form class="search" method="post" action="monmain">
<div style="width:100%">
            <div class="DateFrom" style="width:15%">시작시간</div>
            <input style="width:150px" type="date" id="datefrom" class="setdate">
            <input style="width:150px" type="time" id="timefrom">
            <div class="DateTo" style="width:15%">종료시간</div>
            <input style="width:150px" type="date" id="dateto" class="setdate">
            <input style="width:150px" type="time" id="timeto">
<div></div>
            <input type="submit" value="search">
</div>
        </form>
</div>
</div>
<script>
  document.getElementById('datefrom').value= new Date().toISOString().slice(0, 10);
  document.getElementById('dateto').value= new Date().toISOString().slice(0, 10);
</script>
