    <meta charset="UTF-8">
    <title>PALO LOG ver 230213</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename = '/js/loading.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <link href="{{ url_for('static', filename = 'css/root.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'css/commonHeader.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'css/commonContent.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = '/css/loading.css') }}" />
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <div id="loadingDiv"></div>
    <script>
        $("#loadingDiv").loading({
            onStart: function (loading) {
                loading.overlay.fadeIn(1000);
            },
            onStop: function (loading) {
                loading.overlay.fadeOut(1000);
            }
        });

        $(window).ready(function(){
            $("#loadingDiv").hide();
            $("#loadingDiv").loading("toggle");
        });

        function searchTextCol(e){
            let thisEle = $(e);
            let dataColumn = thisEle.data("colname");
            let whereplus = $("#whereplus");
            let setText = "";

            if(whereplus.val() === ""){
                setText += " AND " + dataColumn + "='" + thisEle.text() + "'";
            }else{
                setText += whereplus.val() + " AND " + dataColumn + "='" + thisEle.text() + "'";
            }

            localStorage.setItem("setSearchText", setText);
            whereplus.val(setText);
        }

        function pageDataSettings(result, cond){
            let dataArr = [];
            let datas = {};

            for(let i = 0; i < cond.length; i++){
                let dataObj = {};
                dataObj.data = cond[i].activeMenu;
                dataObj.render = function(data, type, row){
                    data = "<a href=\"javascript:void(0);\" data-colname=\"" + cond[i].activeMenu + "\" onClick=\"searchTextCol(this);\">" + data + "</a>";
                    return data;
                };
                dataArr.push(dataObj);
            }

            $('#foo-table thead tr:last td').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            });

            setTimeout(() => {
                if(localStorage.getItem("searchFlag") || localStorage.getItem("searchFlag") !== undefined){
                    datas.datefrom = $("#datefrom").val();
                    datas.timefrom = $("#timefrom").val();
                    datas.dateto = $("#dateto").val();
                    datas.datetimetofrom = $("#timeto").val();
                    datas.whereplus = $("#whereplus").val();
                }

                $('#foo-table').DataTable({
                    "info": false,
                    "destroy":true,
                    "order": [0, "desc"],
                    "scrollX": true,
                    "scrollY": "50vh",
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '/subm/mnujson',
                        "type": 'get',
                        "contentType": "application/json",
                        "dataType": 'json',
                        "data": datas,
                    },
                    "columns": dataArr,
                    "lengthChange" : true, 
                    "lengthMenu" : [10, 20, 30, 40, 50, 100],
                    "pageLength": 20,
                });
            }, 300)
        }
    </script>
