<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}
    <script>
        $(document).ready(function () {
            $('#foo-table thead td').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            });
            $('#foo-table').DataTable({
             "pageLength":20,
             "destroy":true,
             "order":[2,'desc'],
                initComplete: function () {
            // Apply the search
            this.api()
                .columns('.showMenu')
                .every(function () {
                    var that = this;
                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
        },
        });
        });
    </script>
</head>
<body>
    <div id="commonTopHeader">
{% include './menu/comTopHeader.html' %}
    </div>

    <div id="commonBodyContents">
{% include './menu/sidemenu3.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
        <form method="post" action="/updatemenu">
            <div style="height: 10%"><div style="float:left;width:30%"><h3>Menu Custom</h3></div><div style="float:right"><input type="submit" value="변경사항 저장"/></div></div>
            <div class="container">
                <div>
                  <table id="foo-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                             <td class = "showMenu">컬럼명</td>
                             <td>표시제목</td>
                             <td>사용여부</td>
                                <td>배치순번</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cond %}
                            <tr>
                                 <td class = "showMenu" ><input type="text" name = "mkey" value="{{i[0]}}" readonly /></td>
				 <td class = "showMenu"><input type="text" name = "mtitle" value = "{{i[1]}}"></td>
				 <td class = "showMenu">{{i[2]}}<select name = "muse">
							<option value = "Y" {% if i[2] == 'Y' %} selected {% endif %} >사용</option>
							<option value = "N" {% if i[2] == 'N' %} selected {% endif %} >미사용</option>
							</select>
					</td>
                            <td class = "showMenu" ><input type="number" min="0" max="100" name = "msort" value="{{i[3]}}" /></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                           <tr>
                            <td></td>
 			                <td></td>
                            <td></td>
                               <td></td>
                           </tr>
                        </tfoot>
                   </table>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
