     <div class="mainTopMenu" id="mainTopMenu">
        <ul>
            <li><button type="button" data-keyword="dashboard" onClick="location.href='../dashmain'">DASHBOARD</button></li>
            <li><button type="button" data-keyword="subm/mnu001" onClick="location.href='../subm/mnu001'">MONITORING</button></li>
            {%  if session["userRole"] == 'ADMIN' %}
            <li><button type="button" data-keyword="adminmunu" onClick="location.href='../menuset'">ADMIN SETUP</button></li>
            {% endif %}
        </ul>
    </div>
